.main{
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    gap: 1rem;
    justify-content: center;
    
  }
  .bugtype{
    width: 28%;
  }
  .add_btn{
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
  }
  .heading{
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    color: white;
  }